= button_to "Schedule next week", schedules_path(       |
    start_date: Date.today.next_week.beginning_of_week, |
    end_date: Date.today.next_week.end_of_week,         |
    days: "1,3"                                         |
  )                                                     |
- @meals.each do |meal|
  .meal
    %span.recipe-title= meal.recipe.title
    = form_tag(meal_path(meal), method: :patch) do
      = select_tag :recipe_id,                                                       |
        options_from_collection_for_select(Recipe.all, :id, :title, meal.recipe.id), |
        {class: "recipe-chooser"}                                                    |
      = meal.scheduled_at.to_default_s
:javascript
  $(function() {
    $(".recipe-chooser").change(function(event) {
      $(event.currentTarget).parent("form").submit();
    });
  });
